<div class='box box-solid'>
	<div class='box-body'>
		<%= link_to '<i class="fa fa-mail-reply"></i> Back'.html_safe, topics_path, class: 'btn btn-app' %>
		<%= link_to '<i class="fa fa-gear"></i> Edit'.html_safe, edit_topic_path(@topic), class: 'btn btn-app' %>
		<%= link_to '<i class="fa fa-plus"></i> add comment'.html_safe, edit_topic_path(@topic), class: 'btn btn-app' %>
		<%= link_to '<i class="fa fa-remove"></i> Destroy'.html_safe, @topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-maroon btn-app pull-right' %>
		<hr>

		<div class="col-md-12">
			<div class="box box-solid"> 
				<header class="box-header with-border bg-olive" style="height:60px;" id="op5_header" style="color:black">
					<h4><strong>Topic: </strong> <%= @topic.name %> </h4>
				</header>
				<div class="box-body">
					<% @comments.each do |comment|%>
						<div class="row">
							<div class="col-sm-12 col-md-10 col-md-offset-1">
								<div class="box box-solid">
									<div class=" box-header with-border bg-black">
										<%= comment.message %>
									</div>
									<div class="box-body">
										<ul>
											<% @responses.where(respond: comment.id).each do |respond|%>
												<li>
													<%= respond.message %>
												</li>
											<% end %>
										</ul>
									</div>
									<div class="box-footer">
										<%= form_for(Comment.new, html: { class: 'form-horizontal' }) do |f| %>
											<div class="form-group">
												<div class="col-md-9 ">
													<%= f.text_field :message, class: 'form-control' %>
													<%= f.hidden_field :respond,  {value: comment.id, class: 'form-control'} %>
													<%= f.hidden_field :topic_id,  {value: @topic.id, class: 'form-control'} %>
												</div>
												<div class="col-md-3">
													<%= f.submit 'Send', class: 'btn bg-olive btn-block' %>
												</div>
											</div>
										<% end %>
									</div>
								</div>
							</div>
						</div>
					<% end %>					
				</div>
			</div>
		</div>

	</div>
</div>