<section class="content-header" >
  <h1>
    Devices
    <small>Listing</small>
  </h1>
</section>
<section class="content" style="min-height: 901px;">

  <p id="notice"><%= notice %></p>
  <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-line-chart"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Total</span>
              <span class="info-box-number"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        
        <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
          <div class="info-box">
            <%= link_to '<span class="info-box-icon bg-green" data-toggle="modal" data-target="#create-form-modal"><i class="fa fa-plus"></i></span>'.html_safe, "#" %>
            <div class="info-box-content">
              <span class="info-box-text">Add</span>
              <span class="info-box-number">New device</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      
  <div class="box box-primary">
    <div class="box-body">
      <table class="table table-bordered table-hover dataTable responsive no-wrap" >
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <% @communities.each do |community| %>
              <tr>
                <td><%= community.name %></td>
                <td><%= community.description %></td>
                <td><%= link_to 'Show', community %></td>
                <td><%= link_to 'Edit', edit_community_path(community) %></td>
                <td><%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>  
  </div>

</section>