<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag current_user.gravatar_url(default: 'identicon'), class: "img-circle", alt: "User Image" %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.email %></p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->

    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <!-- Optionally, you can add icons to the links -->
      <li class=""><%= link_to "<i class='ion ion-ios-pulse'></i> <span>Communities</span>".html_safe, communities_path %></li>
      <li class=""><%= link_to "<i class='fa fa-street-view'></i> <span>Parks</span>".html_safe, parks_path %></li>
      <li class=""><%= link_to "<i class='fa fa-university'></i> <span>Services</span>".html_safe, services_path %></li>
      <li class=""><%= link_to "<i class='fa fa-globe'></i> <span>Events</span>".html_safe, events_path %></li>
      <li class=""><%= link_to "<i class='fa fa-phone'></i> <span>Forum</span>".html_safe, topics_path %></li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>